@import url('https://fonts.googleapis.com/css?family=Fira+Sans:400,500,600,700,800');

* {
  box-sizing: border-box;
}
body {
  background: white !important;
  min-height: 100vh;
  display: flex;
  font-weight: 400;
  font-family: 'Fira Sans', sans-serif;
}

h1,h2,h3,h4,h5,h6,label,span {
  font-weight: 500;
  font-family: 'Fira Sans', sans-serif;
  color:lightgray;
}

body, html, .App, #root, .auth-wrapper {
  width: 100%;
  height: 100%;
  height: 100%;
}

.navbar-light {
  background-color: #128999;
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
  color: #128999;
  display: flex;
}

.auth-wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: left;
}

.auth-inner {
  width: 500px;
  margin: auto;
  background: #ffffff;
  box-shadow: 0px 14px 80px rgba(34, 58, 54, 0.2);
  padding: 40px 55px 45px 55px;
  border-radius: 15px;
  transition: all .3s;
}

.auth-wrapper .form-control:focus {
  border-color: rgb(2, 145, 150);
  box-shadow: none;
}

.auth-wrapper h3 {
  text-align: center;
  margin: 0;
  line-height: 1;
  padding-bottom: 20px;
}

.custom-control-label {
  font-weight: 400;
}

.forgot-password,
.forgot-password a {
  text-align: right;
  font-size: 13px;
  padding-top: 10px;
  color: #7f7d7d;
  margin: 0;
}

.forgot-password a {
  color:#128999;
}

.btnPrimario{
  align-self: right;
  display: flex;
  margin-right: -10px;
}

    
.btn-primary,.btn-primary:hover,.btn-primary:active,.btn-primary:visited {
    background-color:#128999 !important;
    align-items: center !important;
  }

.itemCard{
  display: block;
  width: 170%;
  height: calc(1.5em + .75rem + 2px);
  padding: .375rem .75rem;
  font-size: 1rem;
  font-weight: 100;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out
}

.itemCardFooter{
    width: 100%;
    display: inherit;
    align-items: center;
    justify-content: center;
}